h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}
h2 {
  color: #4969F7;
}
h3 {
   font-family: 'Concert One', cursive;
   font-size: 30px; 
}
h4 {
    font-family: 'Kalam', cursive;
    font-size: 50px;
    color: #4969F7;
}
td {
    font-family: 'Special Elite', cursive;
}
body{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
body > img{
    width: 100%;
}
div section {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}
button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 18px;
  font-style: italic;
  position: relative;
  z-index: 1;
  display: block;
  width: 300px;
  margin: 30px auto;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: #4969F7;
  color: #FFFFFF;
  box-shadow: inset 0 -3px rgba(0, 0, 0, .15);
}
map {
  text-align: center;
}